<!Doctype html>
<html>
  <head>
    <title>Remember 2 Shop</title>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- Firebase -->
    <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script type="text/javascript" src="assets/js/firebase.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body ng-app="Remember2Shop" ng-controller="MasterCtrl">

          <div class="left-div">
            <h1>Add New Item</h1>
            <form class="form-group" ng-submit="addItem()">
                <label for="new">New Item</label><br>
                <input type="text" ng-model="item" name="newItem" class="form-control"/><br />
                <button class="login" type="submit" name="submit">Add New Item</button>
            </form>
          </div>

          <img class="logo" src="assets/img/logo/remember2shop-logo.png">

          <div class="middle-div">
              <img class="line1" src="assets/img/Line.jpg">
              <img class="line2" src="assets/img/Line.jpg">

              <p>Your list is empty</p>
              <ul>
                  <li ng-repeat="item in items">
                      {{ itemName }}
                  </li>
              </ul>

          </div>

          <img class="horizontalLine"src="assets/img/horizontal-line.jpg">
          <img class="lines" src="assets/img/lines.gif">

          <div class="right-div">

          </div>
  </body>
</html>
