<div class="left-div">
  <h1>Add New Item</h1>
  <form class="form-group" ng-submit="addItem()">
    <label for="new">New Item</label><br>
    <input type="text" ng-model="newItem.name" name="new" class="form-control" placeholder="name of item"/>

    <label for="price">Price</label><br>
    <input type="phone" ng-model="newItem.price" name="price" class="form-control" placeholder="price if known"/><br />
      <button id="addNew" class="form-control" type="submit" name="add">Add New Item</button>
  </form>
  <form class="form-group" ng-submit="updateItem()">
    <button id="update" class="form-control" type="submit" name="submit">Update Item</button>
  </form>
</div>
<div>
  <img class="logo" src="assets/img/logo/remember2shop-logo.png">
</div>
<!-- <div ng-model="firstname">
  Welcome {{ firstname }}
</div> -->
<div class="logout">
  <a href="/#/"><button class="form-control" name="logout" ng-click="authObj.$unauth()">Logout</button></a>
</div>

<div class="middle-div">
  <img class="line1" src="assets/img/Line.jpg">
  <img class="line2" src="assets/img/Line.jpg">

  <!-- <p>Your list is empty</p> -->
  <p>
    <ul>
        <li ng-repeat="item in items">
            {{ item.name }} <strong id="color">{{ item.price | currency }}</strong><br>
        </li>
    </ul>
  </p>
</div>

<img class="horizontalLine"src="assets/img/horizontal-line.jpg">
<img class="lines" src="assets/img/lines.gif">

<div class="right-div">
  <h1>Edit Your <br>List</h1>
  <ul>
      <li ng-repeat="item in items">
          {{ item.name }} {{ item.price | currency }}<br>
          <button ng-click="editItem(item)">Edit</button>
          <button ng-click="removeItem(item)">Delete</button>
      </li>
  </ul>
</div>
